.search-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4391e6;
}

.input {
  margin-right: 10px;
}

.buttonMore {
  margin: 20px auto 50px auto;
  display: block;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
}

.photo-card {
  max-width: 320px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qty {
  margin-top: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
